.DS_Store
settings.json

/venv
/wandb

expts/*
!expts/.gitkeep

temp/*
!temp/.gitkeep

configs/*
!configs/replication
!configs/test
!configs/my_first_sweep.yaml

mdps/*

!mdps/gridworld_selfloop_3x3.gv
!mdps/stochastic_graph_4_states.gv
!mdps/mdp_from_paper.gv
!mdps/stoch_1x3_gridworld_with_agent_A_moving_left_and_agent_H_forbidden_from_staying_when_agent_A_is_at_far_right_simulated.gv
!mdps/joint_1x3_gridworld_with_agent_H_forbidden_from_staying_when_agent_A_is_at_far_right.gv
!mdps/joint_3x3_gridworld.gv

!mdps/3x3_gridworld.gv
!mdps/7x7_gridworld_maze.gv
!mdps/20x20_gridworld_robot_face.gv
!mdps/joint_7x7_gridworld_maze.gv
!mdps/joint_7x7_gridworld_maze_no_overlaps.gv

policies/*

!policies/joint_1x3_gridworld_agent_A_move_left.gv
!policies/joint_3x3_gridworld_agent_A_uniform_random.gv

!policies/joint_7x7_gridworld_maze_agent_A_uniform_random.gv
!policies/joint_7x7_gridworld_maze_no_overlaps_agent_A_uniform_random.gv