.DS_Store
settings.json

/venv
/expts
/wandb
/temp

configs/*

!configs/test_sweep.yaml
!configs/test_sweep_gridworld.yaml
!configs/test_sweep_stochastic.yaml
!configs/test_run_multi_simulated.yaml
!configs/test_run_multi_actual.yaml
!configs/test_sweep_correlated_rewards.yaml

mdps/*

!mdps/gridworld_selfloop_3x3.gv
!mdps/stochastic_graph_4_states.gv
!mdps/mdp_from_paper.gv
!mdps/stoch_1x3_gridworld_with_agent_A_moving_left_and_agent_H_forbidden_from_staying_when_agent_A_is_at_far_right_simulated.gv
!mdps/joint_1x3_gridworld_with_agent_H_forbidden_from_staying_when_agent_A_is_at_far_right.gv
!mdps/joint_3x3_gridworld.gv

policies/*

!policies/joint_1x3_gridworld_agent_A_move_left.gv
!policies/joint_3x3_gridworld_agent_A_uniform_random.gv